
.customer-type-main-area {
    box-shadow: 0px 1px 2px 1px rgb(154 154 204 / 22%);
    color: #4A4A4A;
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    background-color: #fff;
    border-radius: 4px;
    width: 100%;
    padding: 20px 2px 30px 2px;   
    }
    
    .customer-type-heading-area h1 {
    font-size: 20px;
    font-weight: 500;
    margin: 4px 0px 0px 0px;    
    }
    
    .customer-type-option-area {
     margin: 0px 0px 30px 0px;   
    }
    
    .customer-type-option-area .form-group input[type=checkbox] {
      display: none;
      cursor: pointer;
    }
    
    .customer-type-option-area .form-group {
    position:relative;
    }
    
    
    .customer-type-option-area .form-group label {
    font-size: 20px;
    font-weight: 500;
    margin: 0px 0px 0px 0px;   
    }
    
    .customer-type-option-area input[type=checkbox] + label:before {
    content: '';
    -webkit-appearance: none;
    border: 2px solid #000;
    border-radius: 4px;
    box-shadow: 0 1px 2px rgb(0 0 0 / 5%), inset 0px -15px 10px -12px rgb(0 0 0 / 5%);
    display: inline-block;
    position: relative;
    vertical-align: middle;
    cursor: pointer;
    margin-right: 5px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    }
    
    
    .customer-type-option-area input[type=checkbox]:checked + label:after {
    content: '';
    display: block;
    position: absolute;
    top: 9px;
    left: 9px;
    width: 7px;
    height: 13px;
    border: 1px solid #000;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    }
    
    .my-order-list-area h2 {
    font-size: 20px;
    font-weight: 500;
    margin: 0px 0px 30px 0px;    
    }
    
    .my-order-list-area h3 {
     font-size: 20px;
    font-weight: 500;
    margin: 15px 0px 34px 0px;   
    }
    
    
    .spent-total-area .form-group .form-control {
    height: inherit;
    padding:8px 10px;
    border:2px solid #cdcdcd;
    border-radius: 5px;   
    }
    
    
    .spent-total-area h2 {
     font-size: 20px;
    font-weight: 500;
    margin:0px 0px 20px 0px;    
    }
    
    .customer-type-sbt-btn {
    text-align: center;
    margin: 15px 0px 0px 0px;  
    }
    
    .customer-sbt-btn {
    font-size: 14px;
    color: #ff0060;
    background-color: #fff;
    box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
    padding: 10px 25px;
    min-width: 64px;
    box-sizing: border-box;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    line-height: 1.75;
    border-radius: 4px;
    letter-spacing: 0.02857em;
    text-transform: uppercase;
    border: 2px solid #ff0060;   
    }
    
    
    .customer-sbt-btn:hover {
    background-color: #ff0060;
    color: #fff;    
    }
    
    
    /*customer type page css end here*/
    
    
    
    
    
    /* purchase plan page css start here*/
    
    .select-date-heading-area h1 {
    font-size: 20px;
    font-weight: 500;
    margin:4px 0px 0px 0px;    
    }
    
    .select-date-option-area .form-group label {
    font-size: 20px;
    font-weight: 500;
    margin: 0px 0px 15px 0px;  
    }
    
    .select-date-option-area .form-group .form-control {
    height: inherit;
    padding: 8px 10px;
    border: 2px solid #cdcdcd;
    border-radius: 5px;
    margin: 0px 0px 30px 0px;
    }
    .comment-write-main-area .form-group label {
      font-size: 20px;
      font-weight: 500;
      margin: 0px 0px 15px 0px;  
      }
      
      .comment-write-main-area textarea.form-control {
      height: 100px;
      border: 2px solid #cdcdcd;
      border-radius: 5px;
      }

      .last-credits-main-area {
        margin: 0px 0px 25px 0px; 
      }

      .last-credits-main-area .form-group label {
        font-size: 20px;
        font-weight: 500;
        margin: 0px 0px 6px 0px;  
        }


      .last-credits-main-area .form-group .form-control {
        height: inherit;
        padding: 8px 10px;
        border: 2px solid #cdcdcd;
        border-radius: 5px;
    }